#app {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}


#content {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-block: auto;
}